MacInTalk.xcodeproj/project.xcworkspace/xcshareddata/MacInTalk.xccheckout
MacInTalk.xcodeproj/project.xcworkspace/xcuserdata/liamwestby.xcuserdatad/UserInterfaceState.xcuserstate
MacInTalk.xcodeproj/xcuserdata/liamwestby.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
